<a href="javascript:void(0);" @attributes="AdditionalAttributes" class="@(string.Join(" ", Classes))" @onclick="() => Click.InvokeAsync()">@ChildContent</a>

@code {
    [Parameter]
    public EventCallback Click { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; }

    protected IEnumerable<string> Classes
    {
        get
        {
            HashSet<string> classes = new();
            if (AdditionalAttributes != null && AdditionalAttributes.TryGetValue("class", out var obj) && obj != null)
            {
                string txt = obj.ToString();
                foreach (string @class in txt.Split(' ', StringSplitOptions.RemoveEmptyEntries))
                    classes.Add(@class);
            }
            classes.Add("btn");
            return classes;
        }
    }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
