@using SimpleCircuit;

<div class="d-flex flex-wrap">
    @foreach (var pair in Utility.Components(typeof(SimpleCircuitParser).Assembly).OrderBy(p => p.Item1))
    {
        <ComponentCard Component="@SimpleCircuit.SimpleCircuitParser.Factory.Create(pair.Item1)" Key="@pair.Item1" />
    }
</div>
