
@if (Demo.Demos != null)
{
    @foreach (var demo in Demo.Demos)
    {
        <a @onclick="x => Update(demo.Code)" class="bd-callout d-block" role="button">
            <h5 class="mb-1">@demo.Title</h5>
            <p class="mb-0 text-muted">@demo.Description</p>
        </a>
    }
}

@code {
    [Parameter]
    public EventCallback<string> DemoSelected { get; set; }

    private async Task Update(string code) => await DemoSelected.InvokeAsync(code);
}
