@if (Demo.Demos != null)
{
    @foreach (var demo in Demo.Demos)
    {
        <a @onclick="x => Update(demo.Code)" class="bd-callout" role="button">
            <h5>@demo.Title</h5>
            <p>@demo.Description</p>
        </a>
    }
}

@code {
    [Parameter]
    public EventCallback<string> DemoSelected { get; set; }

    private async Task Update(string code) => await DemoSelected.InvokeAsync(code);
}
