@using System.IO
@using System.Xml
@inject IJSRuntime JSRuntime
@implements IAsyncDisposable

@* https://www.meziantou.net/upload-files-with-drag-drop-or-paste-from-clipboard-in-blazor.htm *@

<div @ref="_dropZoneElement" class="@ContainerClasses">
    <div class="output">
        @ChildContent
    </div>
    <div class="menu clearfix">
        <a href="javascript:void(0);" class="btn toggle-shrink@(ShrinkX ? " active" : "")" @onclick="ToggleShrinkX">Fit width</a>
        <a href="javascript:void(0);" class="btn toggle-shrink@(ShrinkY ? " active" : "")" @onclick="ToggleShrinkY">Fit height</a>
        <EditForm Model="this" class="form-inline my-2 mx-3">
            <InputText @bind-Value="InternalFilename" class="form-control" placeholder="Filename" aria-label="Filename" />
        </EditForm>
        <a href="javascript:void(0);" class="btn download" @onclick="DownloadSVG">
            <DownloadIcon /> SVG
        </a>
        <a href="javascript:void(0);" class="btn download" @onclick="DownloadPNG">
            <DownloadIcon /> PNG
        </a>
        <a href="javascript:void(0);" class="btn download" @onclick="DownloadJPG">
            <DownloadIcon /> JPG
        </a>
        <label for="file-upload" class="btn upload">
            <div class="hidden">
                <InputFile OnChange="@OnChange" @ref="_inputFile" accept=".svg" id="file-upload" class="d-none" />
            </div>
            <UploadIcon /> SVG meta
        </label>
    </div>
</div>