.dropzone {
    width: 100%;
}
.dropzone label:hover {
    cursor: pointer;
}
.dropzone.hover {
    border: 1px dashed #0087F7;
    border-radius: 0.375rem;
}
a, label {
    margin: 0.25rem;
}
a {
    float: right;
}
.hidden { display: none; }
.btn {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    padding: 0.25rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.upload {
    color: #fff;
    background-color: #5a6268;
    border: 1px solid #545b62;
}
.upload:hover {
    text-decoration: none;
}
.download {
    color: #fff;
    background-color: #007bff;
    border: 1px solid #0062cc;
}