@using System.IO
@using System.Xml
@inject IJSRuntime _jsRuntime
@implements IAsyncDisposable

@* https://www.meziantou.net/upload-files-with-drag-drop-or-paste-from-clipboard-in-blazor.htm *@

<div @ref="_dropZoneElement" class="@ContainerClasses">
    <div class="output">
        @ChildContent
        @if (!AutoUpdate)
        {
            <!-- <a class="btn toggle refresh active" href="javascript:void(0);" @onclick="RequestRefresh">&#11118;</a> -->
            <Button class="refresh" Click="RequestRefresh">&#11118;</Button>
        }
    </div>
    <div class="menu clearfix">
        <div class="options-container">
            <ToggleButton @bind-Value="_optionsVisible">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                    <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                </svg>
            </ToggleButton>
            @if (_optionsVisible)
            {
                <div class="options">
                    <ToggleButton Value="ShrinkX" ValueChanged="ToggleShrinkX">Fit to width</ToggleButton>
                    <ToggleButton Value="ShrinkY" ValueChanged="ToggleShrinkY">Fit to height</ToggleButton>
                    <ToggleButton Value="Bounds" ValueChanged="ToggleBounds">Render element bounds</ToggleButton>
                    <ToggleButton Value="AutoUpdate" ValueChanged="ToggleAutoUpdate">Auto update</ToggleButton>
                </div>
            }
        </div>
        <EditForm Model="this" class="form-inline my-2 mx-3">
            <InputText @bind-Value="InternalFilename" class="form-control" placeholder="Filename" aria-label="Filename" />
        </EditForm>
        <Button class="download" Click="DownloadSVG"><DownloadIcon /> SVG</Button>
        <Button class="download" Click="DownloadPNG"><DownloadIcon /> PNG</Button>
        <Button class="download" Click="DownloadJPG"><DownloadIcon /> JPG</Button>
        <Button class="download" Click="Share"><ShareIcon /></Button>
        <Button class="upload">
            <label for="file-upload">
                <div class="hidden">
                    <InputFile OnChange="@OnChange" @ref="_inputFile" accept=".svg" id="file-upload" class="d-none" />
                </div>
                <UploadIcon /> SVG meta
            </label>
        </Button>
    </div>
</div>