@using System.IO
@using System.Xml
@using SimpleCircuitOnline.Shared.Icons
@inject IJSRuntime _jsRuntime
@inject NavigationManager _navigation
@implements IAsyncDisposable

@* https://www.meziantou.net/upload-files-with-drag-drop-or-paste-from-clipboard-in-blazor.htm *@

<div @ref="_dropZoneElement" class="@ContainerClasses">
    <div class="output">
        @ChildContent
        @if (!AutoUpdate)
        {
            <!-- <a class="btn toggle refresh active" href="javascript:void(0);" @onclick="RequestRefresh">&#11118;</a> -->
            <Button class="refresh" Click="RequestRefresh">&#11118;</Button>
        }
    </div>
    <div class="menu clearfix">
        <div class="options-container">
            <ToggleButton @bind-Value="_optionsVisible">
                <GearIcon />
            </ToggleButton>
            @if (_optionsVisible)
            {
                <div class="options">
                    <ToggleButton Value="ShrinkX" ValueChanged="ToggleShrinkX">Fit to width</ToggleButton>
                    <ToggleButton Value="ShrinkY" ValueChanged="ToggleShrinkY">Fit to height</ToggleButton>
                    <ToggleButton Value="AutoUpdate" ValueChanged="ToggleAutoUpdate">Auto update</ToggleButton>
                </div>
            }
        </div>
        <EditForm Model="this" class="form-inline my-2 mx-3">
            <InputText @bind-Value="InternalFilename" class="form-control" placeholder="Filename" aria-label="Filename" />
        </EditForm>
        <Button class="download" Click="DownloadSVG"><DownloadIcon /> SVG</Button>
        <Button class="download" Click="DownloadPNG"><DownloadIcon /> PNG</Button>
        <Button class="download" Click="DownloadJPG"><DownloadIcon /> JPG</Button>
        <Button class="download" Click="Share"><ShareIcon /></Button>
        <Button class="upload">
            <label for="file-upload">
                <div class="hidden">
                    <InputFile OnChange="@OnChange" @ref="_inputFile" accept=".svg" id="file-upload" class="d-none" />
                </div>
                <UploadIcon /> SVG meta
            </label>
        </Button>
    </div>
</div>