@using System.IO
@using System.Xml
@inject IJSRuntime JSRuntime
@implements IAsyncDisposable

@* https://www.meziantou.net/upload-files-with-drag-drop-or-paste-from-clipboard-in-blazor.htm *@

<div @ref="dropZoneElement" class="@ContainerClasses">
    <div class="output">
        @ChildContent
    </div>
    <div class="menu clearfix">
        <a href="javascript:void(0);" class="btn toggle-shrink@(_shrinkToWidth ? " active" : "")" @onclick="OnShrinkToWidthChanged">Shrink to fit width</a>
        <a href="javascript:void(0);" class="btn toggle-shrink@(_shrinkToHeight ? " active" : "")" @onclick="OnShrinkToHeightChanged">Shrink to fit height</a>
        <a href="javascript:void(0);" class="btn download" @onclick="DownloadSVG">Download SVG</a>
        <label for="file-upload" class="btn upload">
            <div class="hidden">
                <InputFile OnChange="@OnChange" @ref="inputFile" accept=".svg" id="file-upload" class="d-none" />
            </div>
            Upload SVG
        </label>
    </div>
</div>