@if (_warnings != null && _warnings.Count > 0 || _errors != null && _errors.Count > 0)
{
    <div class="container">
        @if (_errors != null && _errors.Count > 0)
        {
            <div class="error" role="alert">
                <h4>Error</h4>
            @foreach (var error in _errors)
            {
                <p>@error</p>
            }
            </div>
        }
        @if (_warnings != null && _warnings.Count > 0)
        {
            <div class="warning">
                <h4>Warning</h4>
            @foreach (var warning in _warnings)
            {
                <p>@warning</p>
            }
            </div>
        }
    </div>
}

@code {
    [Parameter]
    public string Error
    {
        get => string.Join(System.Environment.NewLine, _errors);
        set
        {
            _errors.Clear();
            if (value != null)
                foreach (var line in value.Split(new[] { '\r', '\n' }, StringSplitOptions.RemoveEmptyEntries))
                    _errors.Add(line);
            StateHasChanged();
        }
    }

    [Parameter]
    public string Warning
    {
        get => string.Join(System.Environment.NewLine, _warnings);
        set
        {
            _warnings.Clear();
            if (value != null)
                foreach (var line in value.Split(new[] { '\r', '\n' }, StringSplitOptions.RemoveEmptyEntries))
                    _warnings.Add(line);
            StateHasChanged();
        }
    }

    private readonly HashSet<string> _errors = new HashSet<string>();
    private readonly HashSet<string> _warnings = new HashSet<string>();
}
