@using SimpleCircuitOnline.Shared.Icons

<div class="expandable">
    <a href="javascript:void(0);" @onclick="x => { _expanded = !_expanded; StateHasChanged(); }">
        @if (_expanded)
        {
            <ArrowDownIcon />
        }
        else
        {
            <ArrowRightIcon />
        }
        @Title
    </a>
    <div class="content @(_expanded ? "" : " collapse")">
        @ChildContent
    </div>
</div>


@code {
    private bool _expanded = false;

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public bool Expanded
    {
        get => _expanded;
        set
        {
            if (_expanded != value)
            {
                _expanded = value;
                StateHasChanged();
            }
        }
    }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    protected string DivClasses
    {
        get
        {
            HashSet<string> cl = new();
            if (!string.IsNullOrWhiteSpace(Class))
            {
                foreach (string nc in Class.Split(' ', StringSplitOptions.RemoveEmptyEntries))
                    cl.Add(nc);
            }
            cl.Add("accordion");
            return string.Join(' ', cl);
        }
    }
}
