@using System.Reflection;

@if (_show && _options != null && _options.Count > 0)
{
<div class="list-group">
    @foreach (var (member, description) in _options)
    {
        <a @onclick="x => Insert(member.Name)" class="list-group-item">
            <h5 class="mb-1">@member.Name <small>(@GetTypeName(member))</small></h5>
            <p class="mb-1">@description</p>
        </a>
    }
</div>
}

@code {
    [Parameter]
    public bool Show
    {
        get => _show;
        set
        {
            if (_show != value)
            {
                _show = value;
                StateHasChanged();
            }
        }
    }
    private bool _show = false;
    private List<(PropertyInfo, string)> _options = new();

    [Parameter]
    public MonacoEditor Editor { get; set; }

    protected async Task Insert(string name)
    {
        if (Editor == null)
            return;
        var selection = await Editor.GetSelection();
        selection.StartColumn = 0;
        selection.EndColumn = 0;
        selection.EndLineNumber = selection.StartLineNumber;
        List<IdentifiedSingleEditOperation> ops = new();
        List<Selection> ends = new();

        string cmd = $".options {name} = ";
        ops.Add(new()
        {
            Range = selection,
            Text = cmd + Environment.NewLine,
            ForceMoveMarkers = true,
        });
        ends.Add(new Selection()
        {
            StartLineNumber = selection.StartLineNumber,
            EndLineNumber = selection.StartLineNumber,
            StartColumn = cmd.Length,
            EndColumn = cmd.Length
        });
        await Editor.ExecuteEdits("code", ops, ends);
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        // Find the categories
        foreach (var property in typeof(Options).GetProperties(BindingFlags.Instance | BindingFlags.Public))
        {
            var attribute = property.GetCustomAttribute<DescriptionAttribute>(true);
            _options.Add((property, attribute.Description));
        }
    }

    private string GetTypeName(PropertyInfo property)
    {
        string typeName = "?";
        if (property.PropertyType == typeof(double))
            typeName = "number";
        else if (property.PropertyType == typeof(bool))
            typeName = "boolean";
        else if (property.PropertyType == typeof(string))
            typeName = "string";
        return typeName;
    }
}
