div.container {
    width: 100%;
    padding: 0.5rem;
}
.error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
}
.warning {
    color: #856404;
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
}
.info {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
}
h4 {
    color: inherit;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.info a {
    color: #155724;
    text-decoration: none;
    font-weight: bold;
}
.error a {
    color: #721c24;
    text-decoration: none;
    font-weight: bold;
}
.warning a {
    color: #856404;
    text-decoration: none;
    font-weight: bold;
}