@inject IJSRuntime _js

<div class="output">
    <div class="svg @(_invalid ? "greyed" : "")">
        @if (_svgs is not null && _svgs.Count > 1)
        {
            <div class="themes">
                @for (int i = 0; i < _svgs.Count; i++)
                {
                    int sel = i;
                    <a class="theme@(i == _index ? " selected" : "")" href="javascript:void(0);" @onclick="() => ChangeSvg(sel)">@_svgs[i].Theme</a> 
                }
            </div>
        }

        @if (_showSvg is not null)
        {
            @((MarkupString)_showSvg)
        }
        else
        {
            <h2 class="text-muted">Preview</h2>
        }
    </div>

    @if (Loading > 0)
    {
        <div class="spinner" role="status">
            <svg width="48" height="48" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <circle class="dot dot1" cx="4" cy="12" r="3"/>
                <circle class="dot dot2" cx="12" cy="12" r="3"/>
                <circle class="dot dot3" cx="20" cy="12" r="3"/>
            </svg>
        </div>
    }
</div>