@inject IJSRuntime _js

<div class="output">
    @if (_loading > 0)
    {
        <div class="loading-spinner" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    }
    @if (_svg != null)
    {
        <div class="@(_invalid ? "greyed" : "")">
            @((MarkupString)_svg)
        </div>
    }
    else
    {
        <h2 class="text-muted">Preview</h2>
    }
</div>