div.output {
    min-height: 75px;
    position: relative;
    text-align: center;
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
    border: 1px solid #dee2e6;
    overflow: auto;
}
div.output.dark {
    background-color: #333333;
}
div.svg {
    width: 100%;
    height: 100%;
}
h2 {
    color: #6c757d;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
}
.spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0 -50% -50% 0;
    display: inline-block;
}
.dot {
    animation: dots 1.05s infinite;
    fill: #007bff;
}

.dot2 {
    animation-delay: .1s;
}

.dot3 {
    animation-delay: .2s;
}

@keyframes dots {
    0%, 57.14% {
        animation-timing-function: cubic-bezier(0.33,.66,.66,1);
        transform: translate(0)
    }

    28.57% {
        animation-timing-function: cubic-bezier(0.33,0,.66,.33);
        transform: translateY(-6px)
    }

    100% {
        transform: translate(0)
    }
}