li {
    margin-bottom: -1px;
}
a {
    color: #007bff;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    text-decoration: none;
}
a.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}
a.active:hover {
    background-color: #fff;
}