<CascadingValue Value="this">
<ul class="nav nav-tabs">
    @ChildContent
</ul>

@foreach (var tab in _tabs)
{
<div class="@(Selected == tab ? "" : "hidden")">
    @tab.ChildContent
</div>
}
</CascadingValue>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public Tab Selected { get; private set; }

    private readonly List<Tab> _tabs = new();

    public void AddTab(Tab tab)
    {
        if (Selected == null)
            Select(tab);
        _tabs.Add(tab);
    }

    /// <summary>
    /// Selects a new tab.
    /// </summary>
    /// <param name="index">The tab index.</param>
    /// <returns></returns>
    public void Select(Tab tab)
    {
        if (Selected != tab)
        {
            Selected = tab;
            StateHasChanged();
        }
    }

    /// <summary>
    /// Selects a tab by index.
    /// </summary>
    /// <param name="index">The tab index.</param>
    public void Select(int index)
    {
        if (index >= 0 && index < _tabs.Count)
            Select(_tabs[index]);
    }
}
