ul {
    border-bottom: 1px solid #dee2e6;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    list-style: none;
}

div {
    padding: 0.5rem;
    height: 100%;
    overflow: visible;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border: 1px solid #dee2e6;
    border-top: 0;
    position: relative;
}
div.hidden {
    display: none;
}