<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="114.2.12" targetFramework="net48" />
  <package id="cef.redist.x86" version="114.2.12" targetFramework="net48" />
  <package id="CefSharp.Common" version="114.2.120" targetFramework="net48" />
  <package id="CefSharp.OffScreen" version="114.2.120" targetFramework="net48" />
  <package id="SpiceSharp" version="3.1.5" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
</packages>