<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="110.0.30" targetFramework="net48" />
  <package id="cef.redist.x86" version="110.0.30" targetFramework="net48" />
  <package id="CefSharp.Common" version="110.0.300" targetFramework="net48" />
  <package id="CefSharp.OffScreen" version="110.0.300" targetFramework="net48" />
  <package id="SpiceSharp" version="3.1.5" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
</packages>