@page "/"
@page "/SimpleCircuit"
@inject IJSRuntime _js
@inject TextFormatter _jsTextFormatter
@inject Blazored.LocalStorage.ILocalStorageService _localStore
@inject NavigationManager _navigation;

<div class="split-screen">
    <div class="sidebar">
        <TabMenu @ref="_tabs">
            <Tab Title="Script">
                <div class="content fixed">
                    <StandaloneCodeEditor @ref="_scriptEditor" Id="script-editor" CssClass="editor" ConstructionOptions="GetStyleOptions" OnDidChangeModelContent="Update" OnKeyUp="KeyUp" />
                </div>
            </Tab>
            <Tab Title="Style">
                <div class="content fixed">
                    <StandaloneCodeEditor @ref="_styleEditor" Id="style-editor" CssClass="editor" ConstructionOptions="GetStyleOptions" OnDidChangeModelContent="Update" OnKeyUp="KeyUp" />
                    <Button class="style-reset" Click=@(async () => await _styleEditor.SetValue(GraphicalCircuit.DefaultStyle))>&#11118;</Button>
                </div>
            </Tab>
            <Tab Title="Help">
                <div class="content scrollable">
                    <Expandable Title="Documentation" Class="mt-2">
                        <a href="https://github.com/svenboulanger/SimpleCircuit" target="_blank" class="bd-callout d-block">Project website</a>
                        <a href="https://github.com/svenboulanger/SimpleCircuit/wiki" target="_blank" class="bd-callout d-block">Wiki</a>
                    </Expandable>
                    <Expandable Title="Demo's" Class="mt-2">
                        <DemoList DemoSelected="@(async x => { _viewMode = true; _logger.Clear(); await SetCurrentScript(x); })" />
                    </Expandable>
                    <Expandable Title="Global options" Class="mt-2">
                        <GlobalOptionList Editor="_scriptEditor" />
                    </Expandable>
                    <Expandable Title="Components" Class="mt-2">
                        <ComponentList @ref="_componentList" />
                    </Expandable>
                </div>
            </Tab>
            <Tab Title="Libraries">
                <div class="content scrollable">
                    <LibraryCollection @ref="_libraries" LibrariesChanged="UpdateLibraries" />
                </div>
            </Tab>
        </TabMenu>
    </div>
    <div class="gutter-col"></div>
    <div class="output">
        <DropZone Upload=@UploadFile Download=@DownloadFile
            @bind-Filename=@Filename
            @bind-ShrinkX=@ShrinkX
            @bind-ShrinkY=@ShrinkY
            @bind-Bounds=@RenderBounds
            @bind-AutoUpdate=@AutoUpdate
                  RefreshRequested=@(() => UpdateNow(CreateParsingContext()))>
            <span class="version">@_simpleCircuitVersion</span>
            <SvgOutput Svg=@_svg Loading=@_loading ShrinkX=@ShrinkX ShrinkY=@ShrinkY />
        </DropZone>
        <Report Messages=@_logger.Messages MessageClicked="ReportMessageClicked" ViewModeClicked="ReloadLastScript" />
    </div>
</div>