.split-screen {
    display: grid;
    grid-template-columns: 10px minmax(400px, 35%) 10px 1fr 10px;
    grid-template-rows: 10px 1fr 10px;
    grid-template-areas: ". . . . ." ". sidebar . output ." ". . . . .";
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.sidebar
{
    grid-area: sidebar;
    overflow: visible;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.output
{
    grid-area: output;
    overflow: auto;
}
.content {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    box-sizing: border-box;
    padding: 0.5rem;
}
.fixed {
    overflow: visible;
}
.scrollable {
    overflow: auto;
}
.btn {
    color: #fff;
    background-color: #808080;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    padding: 0.25rem 0.75rem;
    margin: 0.25rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.btn:hover {
    background-color: #404040;
}
.arrow-mode {
    display: none;
    position: absolute;
    left: 15px;
    bottom: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 2rem;
    width: auto;
    height: auto;
    z-index: 999;
    color: #007bff;
    margin: 0px;
    padding: 0.5rem;
}
.arrow-mode.active {
    display: block;
}
::deep .style-reset {
    position: absolute;
    right: 15px;
    bottom: 15px;
}