/* /Pages/Index.razor.rz.scp.css */
.split-screen[b-ec1xys281s] {
    display: grid;
    grid-template-columns: 10px minmax(400px, 35%) 10px 1fr 10px;
    grid-template-rows: 10px 1fr 10px;
    grid-template-areas: ". . . . ." ". sidebar . output ." ". . . . .";
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.sidebar[b-ec1xys281s]
{
    grid-area: sidebar;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.output[b-ec1xys281s]
{
    grid-area: output;
    overflow: auto;
}
.help[b-ec1xys281s] {
    width: 100%;
    height: 100%;
    overflow: auto;
}
.btn[b-ec1xys281s] {
    color: #fff;
    background-color: #808080;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    padding: 0.25rem 0.75rem;
    margin: 0.25rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.btn:hover[b-ec1xys281s] {
    background-color: #404040;
}
.full-width[b-ec1xys281s] {
    width: 100%;
    text-align: center;
}
/* /Shared/ComponentHelp.razor.rz.scp.css */
.container[b-ts37c372oa] {
    padding: 0;
    display: flex;
    flex-direction: row;
}
.preview[b-ts37c372oa] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #eee;
    padding: 0.5rem;
    max-height: 100%;
}
.preview-bounds[b-ts37c372oa] {
    text-align: center;
    padding: 0;
    margin: 0;
}
img[b-ts37c372oa] {
    vertical-align: middle;
    border-style: none;
}
.content[b-ts37c372oa] {
    padding: 0.5rem;
    flex: 1 1 auto;
}
h5[b-ts37c372oa] {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
}
p[b-ts37c372oa] {
    margin-top: 0;
    margin-bottom: 1rem;
}

a[b-ts37c372oa] {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    padding: 0.2rem 0.2rem;
    font-size: 0.875rem;
    border-radius: 0.4rem;
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
    margin: 0.2rem;
}
a.shown[b-ts37c372oa] {
    background-color: #e2e6ea;
    color: #212529;
    border-color: #dae0e5;
}
/* /Shared/DemoList.razor.rz.scp.css */
h5[b-0yji87gb56] {
    margin-bottom: 0.25rem;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
}
p[b-0yji87gb56] {
    color: #6c757d;
    margin-bottom: 0;
    margin-top: 0;
}
/* /Shared/DropZone.razor.rz.scp.css */
.dropzone[b-qf4ekv73m0] {
    width: 100%;
    height: 95%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "output" "menu";
}
.dropzone .output[b-qf4ekv73m0] { grid-area: output; overflow: hidden; }
.dropzone .menu[b-qf4ekv73m0] { grid-area: menu; overflow: hidden; }
.dropzone label:hover[b-qf4ekv73m0] {
    cursor: pointer;
}
.dropzone.hover[b-qf4ekv73m0] {
    border: 1px dashed #0087F7;
    border-radius: 0.375rem;
}
a[b-qf4ekv73m0], label[b-qf4ekv73m0] {
    margin: 0.25rem;
}
a[b-qf4ekv73m0] {
    float: right;
}
.hidden[b-qf4ekv73m0] { display: none; }
.btn[b-qf4ekv73m0] {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    padding: 0.25rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.upload[b-qf4ekv73m0] {
    float: right;
    color: #fff;
    background-color: #5a6268;
    border: 1px solid #545b62;
}
.upload:hover[b-qf4ekv73m0] {
    text-decoration: none;
}
.download[b-qf4ekv73m0] {
    color: #fff;
    background-color: #007bff;
    border: 1px solid #0062cc;
}
.toggle-shrink[b-qf4ekv73m0] {
    float: left;
    color: #fff;
    background-color: #5a6268;
    border: 1px solid #545b62;
}
    .toggle-shrink.active[b-qf4ekv73m0] {
        color: #fff;
        background-color: #007bff;
        border: 1px solid #0062cc;
    }
/* /Shared/Errors.razor.rz.scp.css */
div.container[b-jexddo9n10] {
    width: 100%;
    padding: 0.5rem;
}
.error[b-jexddo9n10] {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
}
.warning[b-jexddo9n10] {
    color: #856404;
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    position: relative;
    padding: 0.75rem 1.25rem;
    border-radius: 0.25rem;
}
h4[b-jexddo9n10] {
    color: inherit;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
p[b-jexddo9n10] {
    margin-top: 0;
    margin-bottom: 1rem;
}
/* /Shared/Expandable.razor.rz.scp.css */
div.expandable[b-gxtlg3nf1j] {
    margin-top: 0.5rem;
}
div.content[b-gxtlg3nf1j] {
    margin-left: 0.5rem;
}
.collapse[b-gxtlg3nf1j] {
    display: none;
}
svg[b-gxtlg3nf1j] {
    margin: 0.25rem;
    overflow: hidden;
    vertical-align: middle;
}
/* /Shared/GlobalOptionList.razor.rz.scp.css */
h5[b-kvi4mccpxu] {
    margin-bottom: 0.25rem;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
}

p[b-kvi4mccpxu] {
    color: #6c757d;
    margin-bottom: 0;
    margin-top: 0;
}
/* /Shared/HelpAccordionItem.razor.rz.scp.css */
a[b-wz16flu3zu] {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.2rem;
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    margin: .1em;
}
span[b-wz16flu3zu] {
    display: inline-block;
    padding: 0.25em 0.6em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-radius: 10rem;
    color: #212529;
    background-color: #f8f9fa;
}
a.shown[b-wz16flu3zu] {
    background-color: #fff;
    color: #17a2b8;
    border-color: #17a2b8;
}
a.shown span[b-wz16flu3zu] {
    color: #fff;
    background-color: #17a2b8;
}
/* /Shared/SvgOutput.razor.rz.scp.css */
div.output[b-kfrzgb9caz] {
    min-height: 75px;
    position: relative;
    text-align: center;
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
    border: 1px solid #dee2e6;
    overflow: auto;
}
div.output div[b-kfrzgb9caz] {
    width: 100%;
    height: 100%;
}
h2[b-kfrzgb9caz] {
    color: #6c757d;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
}
/* /Shared/Tab.razor.rz.scp.css */
li[b-qorxfpw0xh] {
    margin-bottom: -1px;
}
a[b-qorxfpw0xh] {
    color: #007bff;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    background-color: transparent;
}
a:hover[b-qorxfpw0xh] {
    text-decoration: none;
}
a.active[b-qorxfpw0xh] {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}
a.active:hover[b-qorxfpw0xh] {
    background-color: #fff;
}
/* /Shared/TabMenu.razor.rz.scp.css */
ul[b-9kziwx16h8] {
    border-bottom: 1px solid #dee2e6;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    list-style: none;
}

div[b-9kziwx16h8] {
    padding: 0.5rem;
    height: 100%;
    overflow: hidden;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border: 1px solid #dee2e6;
    border-top: 0;
}
div.hidden[b-9kziwx16h8] {
    display: none;
}
